* {
  box-sizing: border-box;
}

body {
  background:radial-gradient(rgb(148, 147, 121), rgb(148, 147, 121),#525050, #000000 ) fixed;
  text-align: center;
}

header h1{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  color: rgb(255, 197, 5);
  text-align: center;
  }

  header a{
    text-decoration: none;
  }
  header li{
    display: inline;
  }
  header ul{
    word-spacing: 30px;
    font-size: 50px;
    text-align: center;
  }

  .card header h1{
    text-align: center;
  }

ol{
  text-align: left;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  color: rgb(93, 14, 0);
}

